/*
    Editor Sidebar
*/
.editorSidebar {
    background-color: #2D2D2D;
    position: absolute;
    top: 80px;
    left: 20px;
    z-index: 1000;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.editorSidebarButton {
    width: 45px;
    height: 45px;
    background-color: #000;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    transition: all 0.2s ease;
}

.editorSidebarButton:hover {
    background-color: #3D3D3D;
    transform: scale(1.1);
    transition: all 0.2s ease;
}

.editorSidebarButton p {
    font-size: 30px;
    color: #ffffff;
}



/*
    Zoom Sidebar
*/
.zoomSidebar {
    background-color: #2D2D2D;
    position: absolute;
    bottom: 60px;
    left: 20px;
    z-index: 1000;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.zoomSidebarButton {
    width: 45px;
    height: 45px;
    background-color: #000;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    transition: all 0.2s ease;
}

.zoomSidebarButton:hover {
    background-color: #3D3D3D;
    transform: scale(1.1);
    transition: all 0.2s ease;
}

.zoomSidebarButton p {
    font-size: 30px;
    color: #ffffff;
}

.zoomScale {
    position: absolute;
    bottom: 0px;
    left: 20px;
    color: #000000;
    font-size: 12px;
    text-align: center;
    padding: 4px 8px;
    background-color: #ffffff;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 1001;
    width: 65px;
    margin: 20px 0;
}

.divider {
    width: 30px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 4px 0;
}