.zoomSidebar {
    background-color: #2D2D2D;
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 20px;
    left: 20px;
    border-radius: 100px;
    padding: 5px;
    gap: 5px;
    z-index: 1000;
}

.zoomSidebarButton {
    background-color: #000;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.zoomSidebarButton p {
    color: #fff;
    font-size: 16px;
}